@import "../variables/colors";

.grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 50px;
  gap: 10px;
  height: 100%;
  max-width: 1366px;
  margin: 0 auto;
}

.search {
    flex: 0 1 40%;
    padding-bottom: 10px;
  }

.grid-actions {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.grid-paginator {
  display: block;
  margin-bottom: auto;
  margin-top: auto;
}

.actions-item {
  padding: 0;
}

.grid-content {
  width: 100%;
}

.help-me {
  border: 1px solid $color-border;
  border-radius: 30px;
  padding: 15px 25px;
  margin: 0 auto;
  min-width: 250px;
}

.help-me {
  margin-bottom: 20px;
}

@media (min-width: 481px) and (max-width: 767px) {
  .grid {
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 50px;
    gap: 5px;
    width: 100%;
    height: 100%;
    max-width: 1366px;
  }

  .grid-paginator {
    height: 100%;
  }

  .search {
    //flex: 0 1 100%;
  }
}

@media (min-width: 320px) and (max-width: 480px) {
  .grid {
    display: grid;
    padding: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 50px;
    gap: 5px;
    width: 100%;
    height: 100%;
    max-width: 1366px;
  }

  .search {
    flex: 0 1 100%;
    padding-bottom: 10px;
  }

  .grid-content {
    padding-top: 5px;
  }

  .grid-actions {
    display: flex;
    justify-content: space-between;
  }

}

@media (min-width: 768px) and (max-width: 1024px) {

}

@media (min-width: 1025px) and (max-width: 1215px) {
  .search {
    flex: 0 1 42%;
  }
}

@media (min-width: 1216px) and (max-width: 1407px) {
  .search {
    flex: 0 1 42%;
  }
}

@media (min-width: 1408px) and (max-width: 1999px){
  .search {
    flex: 0 1 50%;
  }
}

