@import "../variables/colors";

.nav-main {
  display: grid;
  grid-template-columns: [nav-title] 1fr [nav-actions] 3fr;
  grid-template-rows: 1fr;
  height: 100%;
  align-items: center;
}

.nav-title {
  padding-left: 20px;
  font-size: 1.4em !important;
}

.nav-actions {
  display: flex;
  //flex-direction: row;
  //justify-content: flex-end;
}

//.nav-main-item{
//  margin: 0 5px;
//}
.nav-profile {
}

.nav-notification {
}

.nav-suggestion {
}

.nav-config {
}


.nav-search {
  //flex: 0 1 40%;
  min-width: 150px;
}

.search-platform:focus {
  border: 1px solid $color-default;
  outline: none;
  box-shadow: none;
}

@media (min-width: 768px) and (max-width: 1024px) {
  .navbar-dropdown {
    display: none;
  }

  .navbar-dropdown {
    display: none;
  }

  .nav-profile:hover {
    .navbar-dropdown {
      background-color: white;
      border-bottom-left-radius: 6px;
      border-bottom-right-radius: 6px;
      border-top: 2px solid #dbdbdb;
      box-shadow: 0 8px 8px rgba(10, 10, 10, 0.1);
      display: block;
      position: absolute;
      top: 100%;
      z-index: 20;
      min-width: 100%;
    }

    .navbar-divider {
      display: block;
      background-color: whitesmoke;
      border: none;
      height: 2px;
      margin: 0.5rem 0;
    }

  }
}

@media (min-width: 481px) and (max-width: 767px) {



}