@import "../variables/colors";

.sidebar {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(16, 1fr);
  justify-items: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.sidebar-item {
  font-size: 1.5em;
  color: $color-icon-sidebar;
  cursor: pointer;
  padding: 12%;
  border-radius: 5px;
}

.active, .sidebar-item:hover {
  background-color: $color-green-dark;
  color: white;
}