{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Negosy{% endblock %}</title>
    <link rel="stylesheet" type="text/css" href="{% static "css/negosy.css" %}"/>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
</head>
<body>
<main>
    <header>
        <div class="nav-main">
            <div class="nav-title">
                Inventario
            </div>
            <div class="nav-actions">
                <div class="nav-main-item nav-search">
                    <input class="input is-rounded search-platform" type="text" placeholder="Buscar en negosy...">
                </div>
                <div class="nav-main-item nav-config">
                    <button class="button is-success has-text-weight-bold">Guía de
                        configuración
                    </button>
                </div>
                <div class="nav-main-item nav-suggestion">
                    <a class="navbar-item nav-tag">
                    <span class="icon">
                        <i class="fas fa-bullhorn plus-2"></i>
                    </span>
                    </a>
                </div>
                <div class="nav-main-item nav-notification">
                    <a class="navbar-item nav-tag">
                    <span class="icon">
                        <i class="far fa-bell plus-2"></i>
                    </span>
                    </a>
                </div>
                <div class="nav-main-item nav-profile navbar" role="navigation" aria-label="dropdown navigation">
                    <div class="navbar-item has-dropdown is-mobile is-hoverable">
                        <a class="navbar-link">
                            Ever Vásquez
                        </a>

                        <div class="navbar-dropdown">
                            <a class="navbar-item">
                                Mi cuenta
                            </a>
                            <a class="navbar-item">
                                Configuración
                            </a>
                            <hr class="navbar-divider">
                            <div class="navbar-item">
                                Cerrar sesión
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
    <aside>
        <div class="sidebar">
            <div class="sidebar-item">
            </div>
            <div class="sidebar-item">
                <span class="fa fa-home"></span>
            </div>
            <div class="sidebar-item tooltip active">
                <span class="tooltiptext">Inventario</span>
                <i class="fas fa-barcode"></i>
            </div>
            <div class="sidebar-item tooltip">
                <span class="tooltiptext">Almacén</span>
                <i class="fas fa-boxes"></i>
            </div>
            <div class="sidebar-item tooltip">
                <span class="tooltiptext">Bancos</span>
                <i class="fas fa-university"></i>
            </div>
            <div class="sidebar-item tooltip">
                <span class="tooltiptext">Contactos</span>
                <i class="fas fa-user-friends"></i>
            </div>
            <div class="sidebar-item tooltip">
                <span class="tooltiptext">Ventas</span>
                <i class="fas fa-cart-plus"></i>
            </div>
            <div class="sidebar-item tooltip">
                <span class="tooltiptext">Caja</span>
                <i class="fas fa-wallet"></i>
            </div>
            <div class="sidebar-item tooltip">
                <span class="tooltiptext">Compras</span>
                <i class="fas fa-tags"></i>
            </div>
            <div class="sidebar-item tooltip">
                <span class="tooltiptext">Facturación</span>
                <i class="fas fa-file-invoice-dollar"></i>
            </div>
            <div class="sidebar-item tooltip">
                <span class="tooltiptext">Reportes</span>
                <i class="far fa-chart-bar"></i>
            </div>
            <div class="sidebar-item"></div>
            <div class="sidebar-item"></div>
            <div class="sidebar-item"></div>
            <div class="sidebar-item"></div>
            <div class="sidebar-item">
                <i class="fas fa-cogs"></i>
            </div>
        </div>
    </aside>
    <div class="sub-nav">
        <div class="nav-item-empty"></div>
        <div class="sub-nav-item active-sub">Productos</div>
        <div class="sub-nav-item">Variantes</div>
        <div class="sub-nav-item">Categorías</div>
        <div class="sub-nav-item">Descuentos</div>
        <div class="sub-nav-item">Lista de precios</div>
    </div>
    <div class="content">
        <div class="grid">
            <div class="grid-actions">
                <div class="actions-item search">
                    <div class="control">
                        <input class="input" type="text" placeholder="Buscar producto">
                    </div>
                </div>
                <div class="actions-item btn-inventory">
                    <div class="dropdown">
                        <div class="dropdown-trigger">
                            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
                                <span>Todo el inventario</span>
                                <span class="icon is-small">
                                    <i class="fas fa-angle-down" aria-hidden="true"></i>
                                </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu3" role="menu">
                            <div class="dropdown-content">
                                <a href="#" class="dropdown-item">
                                    Overview
                                </a>
                                <a href="#" class="dropdown-item">
                                    Modifiers
                                </a>
                                <a href="#" class="dropdown-item">
                                    Grid
                                </a>
                                <a href="#" class="dropdown-item">
                                    Form
                                </a>
                                <a href="#" class="dropdown-item">
                                    Elements
                                </a>
                                <a href="#" class="dropdown-item">
                                    Components
                                </a>
                                <a href="#" class="dropdown-item">
                                    Layout
                                </a>
                                <hr class="dropdown-divider">
                                <a href="#" class="dropdown-item">
                                    More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="actions-item btn-category">
                    <div class="dropdown">
                        <div class="dropdown-trigger">
                            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
                                <span>Todas las categorías</span>
                                <span class="icon is-small">
                                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                                    </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu3" role="menu">
                            <div class="dropdown-content">
                                <a href="#" class="dropdown-item">
                                    Overview
                                </a>
                                <a href="#" class="dropdown-item">
                                    Modifiers
                                </a>
                                <a href="#" class="dropdown-item">
                                    Grid
                                </a>
                                <a href="#" class="dropdown-item">
                                    Form
                                </a>
                                <a href="#" class="dropdown-item">
                                    Elements
                                </a>
                                <a href="#" class="dropdown-item">
                                    Components
                                </a>
                                <a href="#" class="dropdown-item">
                                    Layout
                                </a>
                                <hr class="dropdown-divider">
                                <a href="#" class="dropdown-item">
                                    More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="actions-item btn-actions">
                    <div class="dropdown">
                        <div class="dropdown-trigger">
                            <button class="button" aria-haspopup="true" aria-controls="dropdown-menu3">
                                <span>Acciones</span>
                                <span class="icon is-small">
                                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                                    </span>
                            </button>
                        </div>
                        <div class="dropdown-menu" id="dropdown-menu3" role="menu">
                            <div class="dropdown-content">
                                <a href="#" class="dropdown-item">
                                    Overview
                                </a>
                                <a href="#" class="dropdown-item">
                                    Modifiers
                                </a>
                                <a href="#" class="dropdown-item">
                                    Grid
                                </a>
                                <a href="#" class="dropdown-item">
                                    Form
                                </a>
                                <a href="#" class="dropdown-item">
                                    Elements
                                </a>
                                <a href="#" class="dropdown-item">
                                    Components
                                </a>
                                <a href="#" class="dropdown-item">
                                    Layout
                                </a>
                                <hr class="dropdown-divider">
                                <a href="#" class="dropdown-item">
                                    More
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="actions-item new-btn">
                    <button class="button is-info">Nuevo Producto</button>
                </div>
            </div>
            <div class="grid-content">
                <table class="table is-hoverable is-fullwidth">
                    <thead>
                    <tr>
                        <th>
                            <label class="checkbox">
                                <input type="checkbox">
                            </label>
                        </th>
                        <th>Producto</th>
                        <th>Categoría</th>
                        <th class="has-text-right">Precio de venta</th>
                        <th class="has-text-right">Precio de compra</th>
                        <th class="has-text-right">Stock</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>
                            <label class="checkbox">
                                <input type="checkbox">
                            </label>
                        </th>
                        <td style="width: 45%">
                            <a href="https://en.wikipedia.org/wiki/Leicester_City_F.C."
                               title="JOLLY LOGAN OVEJA VESTIDA DE LOBO 25 CM SENTADA">JOLLY LOGAN OVEJA VESTIDA DE LOBO
                                25 CM SENTADA</a>
                        </td>
                        <td></td>
                        <td class="has-text-right">S/ 45.00</td>
                        <td class="has-text-right">S/ 00.00</td>
                        <td class="has-text-right">00.00</td>
                    </tr>
                    <tr>
                        <th>
                            <label class="checkbox">
                                <input type="checkbox">
                            </label>
                        </th>
                        <td><a href="https://en.wikipedia.org/wiki/Leicester_City_F.C."
                               title="PAR DE MEDIAS 50256">PAR DE MEDIAS 50256</a>
                        </td>
                        <td></td>
                        <td class="has-text-right">S/ 12.00</td>
                        <td class="has-text-right">S/ 00.00</td>
                        <td class="has-text-right">00.00</td>
                    </tr>
                    <tr>
                        <th>
                            <label class="checkbox">
                                <input type="checkbox">
                            </label>
                        </th>
                        <td><a href="https://en.wikipedia.org/wiki/Leicester_City_F.C."
                               title="TAZA CON PLATA DE MADERA Y CUCHARA AMOR - 50148">TAZA CON PLATA DE MADERA Y
                            CUCHARA AMOR - 50148</a>
                        </td>
                        <td></td>
                        <td class="has-text-right">S/ 19.00</td>
                        <td class="has-text-right">S/ 00.00</td>
                        <td class="has-text-right">12.00</td>
                    </tr>
                    <tr>
                        <th>
                            <label class="checkbox">
                                <input type="checkbox">
                            </label>
                        </th>
                        <td><a href="https://en.wikipedia.org/wiki/Leicester_City_F.C."
                               title="FUNKO POP 20 DEADPOOL">FUNKO POP 20 DEADPOOL</a>
                        </td>
                        <td></td>
                        <td class="has-text-right">S/ 65.00</td>
                        <td class="has-text-right">S/ 00.00</td>
                        <td class="has-text-right">00.00</td>
                    </tr>
                    <tr>
                        <th>
                            <label class="checkbox">
                                <input type="checkbox">
                            </label>
                        </th>
                        <td><a href="https://en.wikipedia.org/wiki/Leicester_City_F.C."
                               title="PULSERA NEGRA GEO 18237">PULSERA NEGRA GEO 18237</a>
                        </td>
                        <td></td>
                        <td class="has-text-right">S/ 17.00</td>
                        <td class="has-text-right">S/ 00.00</td>
                        <td class="has-text-right">00.00</td>
                    </tr>
                    <tr>
                        <th>
                            <label class="checkbox">
                                <input type="checkbox">
                            </label>
                        </th>
                        <td><a href="https://en.wikipedia.org/wiki/Leicester_City_F.C."
                               title="LLAVERO BTS METAL 50250">LLAVERO BTS METAL 50250</a>
                        </td>
                        <td></td>
                        <td class="has-text-right">S/ 10.00</td>
                        <td class="has-text-right">S/ 00.00</td>
                        <td class="has-text-right">00.00</td>
                    </tr>
                    <tr>
                        <th>
                            <label class="checkbox">
                                <input type="checkbox">
                            </label>
                        </th>
                        <td><a href="https://en.wikipedia.org/wiki/Leicester_City_F.C."
                               title="CAJA ARMABLE NAVIDEÑA">CAJA ARMABLE NAVIDEÑA</a>
                        </td>
                        <td></td>
                        <td class="has-text-right">S/ 4.00</td>
                        <td class="has-text-right">S/ 00.00</td>
                        <td class="has-text-right">00.00</td>
                    </tr>
                    <tr>
                        <th>
                            <label class="checkbox">
                                <input type="checkbox">
                            </label>
                        </th>
                        <td><a href="https://en.wikipedia.org/wiki/Leicester_City_F.C."
                               title="GRANUTS ARANDANOS">GRANUTS ARANDANOS</a>
                        </td>
                        <td></td>
                        <td class="has-text-right">S/ 4.50</td>
                        <td class="has-text-right">S/ 00.00</td>
                        <td class="has-text-right">00.00</td>
                    </tr>
                    <tr>
                        <th>
                            <label class="checkbox">
                                <input type="checkbox">
                            </label>
                        </th>
                        <td><a href="https://en.wikipedia.org/wiki/Leicester_City_F.C."
                               title="BOLA NAVIDEÑA">BOLA NAVIDEÑA</a>
                        </td>
                        <td></td>
                        <td class="has-text-right">S/ 5.00</td>
                        <td class="has-text-right">S/ 00.00</td>
                        <td class="has-text-right">00.00</td>
                    </tr>
                    <tr>
                        <th>
                            <label class="checkbox">
                                <input type="checkbox">
                            </label>
                        </th>
                        <td><a href="https://en.wikipedia.org/wiki/Leicester_City_F.C."
                               title="MINI OREO GALLETA">MINI OREO GALLETA</a>
                        </td>
                        <td></td>
                        <td class="has-text-right">S/ 2.00</td>
                        <td class="has-text-right">S/ 00.00</td>
                        <td class="has-text-right">00.00</td>
                    </tr>
                    <tr>
                        <th>
                            <label class="checkbox">
                                <input type="checkbox">
                            </label>
                        </th>
                        <td><a href="https://en.wikipedia.org/wiki/Leicester_City_F.C."
                               title="PORTAFOTO LUNAMÍA CUMPLEAÑOS MODELOS VARIOS">PORTAFOTO LUNAMÍA CUMPLEAÑOS MODELOS
                            VARIOS</a>
                        </td>
                        <td></td>
                        <td class="has-text-right" style="width: 15%">S/ 38.00</td>
                        <td class="has-text-right" style="width: 15%">S/ 00.00</td>
                        <td class="has-text-right" style="width: 10%">00.00</td>
                    </tr>
                    <tr>
                        <th>
                            <label class="checkbox">
                                <input type="checkbox">
                            </label>
                        </th>
                        <td><a href="https://en.wikipedia.org/wiki/Leicester_City_F.C."
                               title="TAZA HAPPY BIRTHDAY OSA - LUNA MIA">TAZA HAPPY BIRTHDAY OSA - LUNA MIA</a>
                        </td>
                        <td></td>
                        <td class="has-text-right">S/ 25.00</td>
                        <td class="has-text-right">S/ 00.00</td>
                        <td class="has-text-right">00.00</td>
                    </tr>
                    <tr>
                        <th>
                            <label class="checkbox">
                                <input type="checkbox">
                            </label>
                        </th>
                        <td><a href="https://en.wikipedia.org/wiki/Leicester_City_F.C."
                               title="TOFFEES DE CHOCOLATE">TOFFEES DE CHOCOLATE</a>
                        </td>
                        <td></td>
                        <td class="has-text-right">S/ 13.00</td>
                        <td class="has-text-right">S/ 00.00</td>
                        <td class="has-text-right">00.00</td>
                    </tr>
                    <tr>
                        <th>
                            <label class="checkbox">
                                <input type="checkbox">
                            </label>
                        </th>
                        <td><a href="https://en.wikipedia.org/wiki/Leicester_City_F.C."
                               title="TOFFEES DE CHOCOLATE">TOFFEES DE CHOCOLATE</a>
                        </td>
                        <td></td>
                        <td class="has-text-right">S/ 13.00</td>
                        <td class="has-text-right">S/ 00.00</td>
                        <td class="has-text-right">00.00</td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="grid-paginator">
                <nav class="pagination is-small" role="navigation" aria-label="pagination">
                    <!--<a class="pagination-previous">Previous</a>
                    <a class="pagination-next">Next page</a> -->
                    <ul class="pagination-list">
                        <li><a class="pagination-link" aria-label="Goto page 1">1</a></li>
                        <li><span class="pagination-ellipsis">&hellip;</span></li>
                        <li><a class="pagination-link" aria-label="Goto page 5">5</a></li>
                        <li><a class="pagination-link is-current" aria-label="Page 6" aria-current="page">6</a></li>
                        <li><a class="pagination-link" aria-label="Goto page 7">7</a></li>
                        <li><span class="pagination-ellipsis">&hellip;</span></li>
                        <li><a class="pagination-link" aria-label="Goto page 15">15</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="help-me">
            <i class="far fa-question-circle" style="font-size: 16px !important;color: #00c4a7"></i> Aprende más acerca
            de <a href=""> productos</a>
        </div>
    </div>

</main>
</body>
</html>