$color-blue-dark:#283C50;
$color-blue:#2D4155;
$color-white:#fff;
$color-green:#00beaa;
$color-green-dark:#0078AA;
$color-green-light: #0f7faa;
$color-table-head: #f5fafa;

$color-icon-sidebar:#9ca4b3;
$color-blue-dark-tooltip: rgb(40,60,80, .87);

$color-sub-nav-hover: #eaebf0;

$color-background: #f4f5f7;
$color-border: rgba(9, 30, 66, .12);

$color-default: #96A0B4;